<div class="row border-bottom fw-bold">
    <nav class="navbar p-0 navbar-expand-xxl bg-white">
        <div class="container-fluid fs-5">
            <a class="navbar-brand common-color-primary py-1 px-3 text-white fs-2" href="#">WC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar" style="overflow-x: hidden;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link common-hover-primary" href="#">이상형 월드컵</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link common-hover-primary" href="/worldcups/new-worldcup">이상형 월드컵 만들기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link common-hover-primary" href="#">내가 만든 월드컵</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <!-- 보여야 하는거 || 로그인 안된 상태 >> 로그인이랑 회원가입 || 로그인 된 상태 >> 로그아웃 -->
                    <li class="nav-item">
                        <a class="nav-link common-hover-primary" href="#">LogIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link common-hover-primary" href="#">회원정보수정</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link common-hover-primary" href="#">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--임시 버튼-->
<button onclick="getUserInfo()">사용자 정보 받아오기</button>

<script>
    // 비동기로 로그인한 유저 정보 가져오기
    async function getUserInfo() {
        // 1. 사용자 입력값 받기 - 필요 없음

        // 2. JSON 변환 - 필요 없음

        // 3. API 요청
        let response = await fetch(`http://localhost:8080/get-user-info`, {
            method: "post",
        });
        let responseBody = await response.json();

        // 4. 응답 처리
        console.log(responseBody);
    }
</script>