/* 각 클래스 이름 변동 가능 */
/* 각  background-image도 변동 */
.game-left, .game-right {
    width: 50%;
    height: 100%;
    max-width: 50%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; /* position 유지 */
    transition: transform 1s ease-in-out;  /* transform으로만 위치 이동 애니메이션 */
}

.game-left {
    background-image: url('/img/vertlong.png');
    background-position: right center;
    z-index: 1;
}

.game-right {
    background-image: url('/img/horizolong.png');
    background-position: left center;
    left: 50%;  /* left 유지 */
    top: -100%;  /* top 유지 */
    z-index: 2;
}

/* 화면 밖으로 이동 */
.game-left.outside {
    transform: translateX(-200vw); /* 화면 왼쪽으로 이동 */
}

.game-right.outside {
    transform: translateX(200vw); /* 화면 오른쪽으로 이동 */
}
.game-content {
    padding: 0 20px
}

.game-item-box-content {
    height: 93vh;
    background-color: #fff;
    z-index: 1; /* play-title 아래로 설정 */
    margin-top: -3%; /* game-item-box-content가 play-title과 겹치게 설정 */

}

.game-title {
    text-align: center;
    width: 100%;
    height: calc(3 * (1vw + 1vh - 1vmin));
    position: relative;
    top: -200%;
    z-index: 4;
    line-height: calc(3 * (1vw + 1vh - 1vmin));
    background-color: rgba(119, 136, 153, 0.75);
    color: white;
    font-size: calc(3 * (1vw + 1vh - 1vmin))
}

.game-img-name-box {
    display: flex; /* 플렉스박스 레이아웃 사용 */
    justify-content: space-between; /* 두 항목 사이에 공간을 균등하게 배치 */
    align-items: center; /* 수직 정렬 */
    height: calc(7 * (1vw + 1vh - 1vmin));
    position: relative;
    top: -155%;
    z-index: 4;
    color: white;
    font-size: calc(3 * (1vw + 1vh - 1vmin));
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.game-img-versus {
    width: 100%;
    height: 15%;
    background-image: url('/img/versus.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    position: relative;
    left: 0%;
    top: -155%;
    z-index: 3;
    pointer-events: none;
}

.game-padding-right {
    padding-right: 10%;
}

.game-padding-left {
    padding-left: 10%;
}

.game-bg {
    background-color: #181818;
}

.game-item-box {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: stretch;
}