<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
</head>
<body style="background-color: darkred;">
<a href="/login-form">login-form</a><br>
<a href="/main">main</a><br>
<a href="/mine">mine</a><br>
<a href="/game">game</a><br>
<a href="/rank">rank</a><br>
<a href="/result">result</a><br>
<a href="/signup-form">signup-form</a><br>
<a href="/worldcups/start-form/1">start-form</a><br>
<a href="/user-form">user-form</a><br>
<a href="/wc-form">wc-form</a><br>
</body>
</html>