<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>랭킹</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
{{> layout/navbar}}
<div class="container my-4">

    <div class="container my-4">
        <div class="d-flex justify-content-between align-items-center mb-3 fw-bold">
            <div class="dropdown d-flex align-items-center">

                <select class="form-select" id="boxCount" style="width: 80px;">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="20">100</option>
                </select>
                <label for="boxCount" class="form-label mb-0">씩 보기</label>
            </div>

            <div class="d-flex align-items-center">
                <label for="search" class="form-label me-2 mb-0">검색:</label>
                <input type="text" id="search" class="form-control" placeholder="검색" style="width: 200px;">
            </div>
        </div>
        <!-- 테이블 -->
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="text-center">
                <th style="width:5%">순위</th>
                <th style="width:15%">사진</th>
                <th style="width:30%">이름</th>
                <th style="width:20%">우승비율</th>
                <th style="width:20%">승률</th>
            </tr>
            </thead>
            <tbody class="common-tbody" id="tableBody">
            </tbody>
        </table>
    </div>

    <nav>
        <input type="hidden" id="page" value="1">
        <ul class="pagination justify-content-center" id="page-list">
        </ul>
    </nav>

    <!-- 하단 버튼 -->
    <div class="d-flex justify-content-start gap-2 my-4">
        <button type="button" class="btn btn-danger rank-btn-custom">월드컵 시작</button>
        <button type="button" class="btn btn-secondary rank-btn-custom">다른 월드컵 보기</button>
    </div>

    <!-- 댓글 개수 -->
    <div class="my-4">댓글 ({{responsePageDTO.totalItems}})</div>
    <!-- 댓글 입력, 목록 묶기 div -->
    <div class="bg-light p-4 rounded">
        <!-- 입력 -->
        <form action="/worldcups/{{worldcupId}}/rank/save" method="post">
            <label class="form-label">닉네임</label>

            <input type="text" id="nickname" name="nickname" class=" form-control mb-3" value="{{sessionUser.nickname}}">

            <label class="form-label">한마디 남기기</label>
            <textarea id="comment" name="content" class="form-control common-comment-textarea mb-3" placeholder="댓글을 입력하세요"
                      rows="5"></textarea>

            <button type="submit" class="btn common-color-primary fw-bold text-white w-100 mb-4">저장하기</button>
        </form>

        <!-- 목록 -->
        <div>
            {{#commentList}}
                <div class="mb-4">
                    <div class="d-flex align-item-center mb-2">
                        <strong>{{nickname}}{{#winnername}} - ({{winnername}}){{/winnername}}</strong>
                        <div class="ms-1 mt-auto me-2 small common-color-weak">{{createdAt}}</div>
                        {{#idEqualComment}}
                            <form action="/worldcups/{{worldcupId}}/rank/delete/{{id}}" method="POST" style="display: inline;">
                                <button type="submit" class="common-delete-comment" style="background: none; border: none; color: blue; cursor: pointer;">삭제</button>
                            </form>
                        {{/idEqualComment}}

                    </div>
                    <div>
                        {{content}}
                    </div>
                </div>

            {{/commentList}}

        </div>

        <!-- 더 보기 버튼 -->
        {{#responsePageDTO}}
            <ul class="pagination justify-content-center">
                <li class="page-item {{#isFirstPage}}disabled{{/isFirstPage}}">
                    <a class="page-link" href="?page={{prevPage}}&size={{size}}">&lt;</a>
                </li>
                {{#pages}}
                    <li class="page-item {{#isCurrentPage}}active{{/isCurrentPage}}">
                        <a class="page-link" href="?page={{number}}&size={{size}}">{{number}}</a>
                    </li>
                {{/pages}}
                <li class="page-item {{#isLastPage}}disabled{{/isLastPage}}">
                    <a class="page-link" href="?page={{nextPage}}&size={{size}}">&gt;</a>
                </li>
            </ul>
        {{/responsePageDTO}}
    </div>

</div>
</body>
<script>
    const pageList = document.querySelector("#page-list");
    const tbody = document.querySelector("#tableBody");
    let page = 1;
    let size;
    requestFind();


    function changePage(p) {
        page = p;
        requestFind();
    }

    function renderPageItem(c, p) {
        let dom = `
            <a href="#img-table-part" class="page-link" onclick="changePage(${p})">${c}</a>
        `
        let pageItem = document.createElement("li");
        if (page === c)
            pageItem.classList.add("active");
        pageItem.classList.add("page-item");
        pageItem.innerHTML = dom;
        return pageItem;
    }

    function renderPage(totalPage) {
        clearPageList();
        let curPageGroup = Math.floor((page + 4) / 5) - 1;
        let firstPage = curPageGroup * 5 + 1;
        let lastPage = Math.min(curPageGroup * 5 + 5, totalPage);
        if (curPageGroup !== 0) {
            pageList.append(renderPageItem("≪", 1));
            pageList.append(renderPageItem("<", firstPage - 1));
        }
        for (let i = firstPage; i <= lastPage; i++) {
            pageList.append(renderPageItem(i, i));
        }
        if (curPageGroup !== Math.floor((totalPage + 4) / 5) - 1) {
            pageList.append(renderPageItem(">", firstPage + 5));
            pageList.append(renderPageItem("≫", totalPage));
        }
    }

    function clearPageList() {
        pageList.innerHTML = "";
    }

    async function requestFind() {
        size = document.querySelector("#boxCount").value;
        let itemname = document.querySelector("#search").value;
        let orderOption = null;

        let params = new URLSearchParams();

        params.append("page", page);
        params.append("size", size);
        params.append("itemname", itemname);
        if (orderOption !== null) {
            params.append("orderOption", orderOption);
        }

        let url = "/worldcups/{{worldcupId}}/items?" + params.toString();

        let response = await fetch(url);

        let responseBody = await response.json();

        if (responseBody.success) {
            let items = responseBody.body.itemDTOList;
            renderList(items);
            let totalPage = responseBody.body.totalPage;
            renderPage(totalPage);
        } else {
            alert(responseBody.message);
        }
    }

    function renderList(items) {
        clearTbody();
        items.forEach(item => {
            let rendered = renderTr(item);
            tbody.append(rendered);
        });
    }

    function clearTbody() {
        tbody.innerHTML = "";
    }

    function renderTr(item) {
        let dom = `
                <tr>
                    <td>
                        <b>${item.id}</b>
                    </td>
                    <td class="common-img-container">
                        <img src="${item.imgUrl}" alt="이미지" class="img-fluid">
                    </td>
                    <td>${item.itemname}</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="progress win-percent common-progress-size position-relative">
                                <!-- 바 위에 텍스트 -->
                                <div class="position-absolute w-100 text-center">
                                    <span class="fs-6 fw-bold text-dark">${item.champRate}%</span>
                                </div>
                                <!-- 진행 바 -->
                                <div class="progress-bar bg-danger" style="width: ${item.champRate}%"></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="progress win-percent common-progress-size position-relative">
                                <!-- 바 위에 텍스트 -->
                                <div class="position-absolute w-100 text-center" >
                                    <span class="fs-6 fw-bold text-dark">${item.winRate}%</span>
                                </div>
                                <!-- 진행 바 -->
                                <div class="progress-bar bg-warning" style="width: ${item.winRate}%"></div>
                            </div>
                        </div>
                    </td>
                </tr>
        `;
        let tr = document.createElement("tr");
        tr.innerHTML = dom;
        return tr;
    }
</script>
</html>