<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>이상형 월드컵 시작</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
{{> layout/navbar}}
<div class="common-middle-box text-center">

    <div class="d-flex justify-content-center">
        <img src="/img/test.png" style="width: 250px; height: 250px;">
    </div>
    <p class="text-muted text-center">
        <small>라운드를 선택해 주세요</small>
    </p>
    <select class="form-select" aria-label="Default select example">
        <option value="0" selected>여기에</option>
        <option value="1">?강 수를</option>
        <option value="2">계산해서</option>
        <option value="3">넣어야함</option>
    </select>
    <p class="text-muted text-center fs-6">
        총???의 후보중 무작위 ?강수가 대결합니다
    </p>
    <button type="button" class="btn block w-100 mb-2 common-color-primary common-none-ouline-button text-white"
            id="login">게임 시작
    </button>
</div>
</body>

</html>